<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
  <header>
    <h1>Basic Controls</h1>
  </header>

  <button id="test_native_support" data-fetch-path="/api/test_native">Test Native Support</button>
  <button id="convert_kandr_chars" data-fetch-path="/api/conversion">Convert Kandr Chars</button>
  <br>
  <button id="log_kandr_files" data-fetch-path="/api/conversion/log-kandr-files">Log Files: kandr dir</button>
  <button id="log_kandr_parsed_files" data-fetch-path="/api/conversion/log-kandr-parsed-files">Log Files: kandr/parsed dir</button>
  <br>
  <button id="log_kandr_longest" data-fetch-path="/api/conversion/longest">Log Longest: kandr dir</button>
  <button id="log_kandr_parsed_longest" data-fetch-path="/api/conversion/parsed-longest">Log Longest: kandr/parsed dir</button>
  <br>
  <button id="parse_woffs" data-fetch-path="/api/conversion/parse-woffs">Parse Woffs</button>


  <script type="text/javascript" src="/js/index.js"></script>
</body>
</html>
